body {
    background:rgb(57, 5, 179);
    color: rgb(58, 46, 46);
    padding: 10px;
    font-family: Arial, sans-serif;

}
        {max-width: 760px;
        margin: auto;
}
nav {
    background: rgb(206, 13, 6);
    margin: 0 auto;
    display: flex;
    padding : 10px;
    margin-bottom: 20px ;
}
h1{
    display: flex;
    align-items ; center;
    color:white;
    flex: 1;
    margin: 0;
}
.nav-li{
    display: inline-block;
    padding : 0 10px;
}
a {
    text-decoration: none;
    color: #fff;
}
main{
    background: rgb(245,238,219);
    display: flex;
    margin-top: 20px;
}
.sidebar{
    margin-right: 25px;
    padding: 10px;
}
.sidebar-img { 
    width: 200px ;
}
.context{
    flex: 1;
    padding: 15px;

}
#interest {
    border: 4px silver ridge ;
    padding: 8px;
    margin-top: 20px;
}
h2, h3 {
    margin: 0px ;
}